html,
body {
    width: 100%;
    height: 100%;
    background: #fff;
    min-width: 1240px;
    overflow: hidden;
    font-family: "Microsoft YaHei"
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.login_box {
    width: 100%;
    min-width: 1240px;
    height: 100%;
    position: relative;
}

.login_right_bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 58.3%;
    height: 100%;
    background: url(../image/bg_r.png) no-repeat;
    background-size: cover;
}

.login_right {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.default_right {
    width: 100%;
    height: 100%;
    position: relative;
}

.login_right .logo {
    width: 40%;
    position: absolute;
    right: 21.4%;
    top: 36.7%;
}

.default_right .con_txt {
    position: absolute;
    width: 7%;
    right: 35%;
    top: 69.4%;
}

.login_left1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 51.6%;
    height: 100%;
    background: url(../image/bg_l.png) no-repeat;
    background-size: cover;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.defaultLeft {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.login_left3 {
    width: 47.3%;
    background: url(../image/bg_l3.png) no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in;
}

.defaultLeft .logo {
    width: 43.7%;
    position: absolute;
    left: 28.5%;
    top: 33.8%;
}

.login_left3 .logo {
    width: 45%;
}

.defaultLeft .con_txt {
    width: 8%;
    position: absolute;
    left: 46.7%;
    top: 69.4%;
}

.login_left3 .con_txt {
    width: 9%;
}

.login_left2 {
    width: 55.5%;
    background: url(../image/bg_l2.png) no-repeat;
    background-size: cover;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.phoneLeft {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.phoneLeft .logo {
    width: 40.6%;
    position: absolute;
    left: 26.9%;
    top: 14.8%;
}

.phoneLeft .phone {
    width: 37.6%;
    height: 60.8%;
    position: absolute;
    left: 27.7%;
    top: 40%;
}

.phoneLeft .code_img {
    width: 22.3%;
    position: absolute;
    left: 35.83%;
    top: 47.8%;
}

.phoneLeft p {
    color: #fff;
    font-size: 10px;
    position: absolute;
    left: 39.8%;
    top: 75%;
}

.login_right_main {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.login_right_main .logo {
    top: 18%;
    right: 25%;
}

.login_cont {
    width: 46.4%;
    background: #fff;
    position: absolute;
    right: 20.3%;
    top: 39.6%;
    border-radius: 6px;
    padding-bottom: 20px;
}

.login_tit,
.login_tit2 {
    width: 100%;
    padding: 0 8%;
}

.login_tit li {
    float: left;
    width: 50%;
    height: 60px;
    padding-top: 10px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #666;
}

.login_tit2 li {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 16px;
    color: #666;
}

.login_tit li.active,
.login_tit2 li.active {
    color: #448af8;
    border-bottom: 3px solid #448af8;
}

.login_list {
    padding: 0 9%;
    height: 50%;
}

.login_list li {
    padding: 17px 0 0;
    /* height: 32%;
    line-height: 32%; */
    border-bottom: 1px solid #e9e9e9;
    overflow: hidden;
}

.login_list li span {
    float: left;
    /*height: 100%;
    line-height: 400%;*/
    line-height: 40px;
    width: 30%;
    color: #333;
    font-size: 16px;
}

.login_list li input {
    float: left;
    font-size: 16px;
    color: #333;
    width: 40%;
    line-height: 40px;
    /* height: 100%;
    line-height: 400%; */
}

.login_list li button {
    float: right;
    width: 30%;
    height: 40px;
    line-height: 40px;
    color: #448af8;
    font-size: 14px;
    border: none;
    background: none;
    outline: none;
    text-align: right;
}

.login_list li:nth-child(2) input {
    width: 30%;
}

.login_btn {
    font-size: 18px;
    display: block;
    width: 80%;
    height: 40px;
    color: #fff;
    background: #448af8;
    border: none;
    outline: none;
    margin: 0 auto;
    border-radius: 2px;
    margin-top: 4px;
}

.desc {
    width: 100%;
    text-align: center;
    padding-top: 3%;
    font-size: 14px;
    color: #448af8;
}

.login_tit2 li h5 {
    margin-top: 10%;
}

.login_tit2 li p {
    font-size: 10px;
    color: #666;
    height: 20%;
    margin-top: 3px;
    margin-bottom: 8px;
    ;
}

.alert_box {
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}