html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    min-width: 800px;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.clearfix {
    zoom: 1;
}


/* user_management.html */

.public_tit {
    width: 100%;
    height: 50px;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 16px;
    color: #707070;
    padding-left: 25px;
    border-bottom: 1px solid #e0e0e0;
    z-index: 10;
}

.public_tit span {
    float: left;
    line-height: 48px;
    margin: 0 25px;
    cursor: pointer;
}

.public_tit span.active {
    border-bottom: 2px solid #448af8;
    color: #448af8;
}

.public_box {
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
    margin: 70px 20px 20px;
    background: #fff;
    padding: 20px 20px 80px;
    border: 1px solid #e0e0e0;
}

.user_top {
    height: 116px;
    background: #f8f8f8;
    padding: 20px;
    margin-bottom: 20px;
}

.quick_search {
    font-size: 16px;
    color: #448af8;
}

.user_top_cont>div {
    float: left;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
}

.user_top_cont>div input {
    height: 32px;
    width: 196px;
    border: 1px solid #eee;
    padding: 0 10px;
    color: #a7a7a7;
}

.user_top_cont_l button {
    width: 72px;
    height: 35px;
    background: #448af8;
    color: #fff;
    font-size: 15px;
    border: 0px;
    margin-left: 30px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px 2px #dae8fe;
}

.user_top_cont .user_top_cont_r {
    float: right;
}

.user_top_cont_r button {
    height: 35px;
    color: #e0e0e0;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background: #fff;
    padding: 0 20px;
}

.user_top_cont_r .active {
    color: #448af8;
    border: 1px solid #448af8;
}

.user_cont {
    width: 100%;
}

.user_cont table {
    width: 100%;
    font-size: 14px;
    color: #4d4d4d;
}

.user_cont thead {
    width: 100%;
    height: 44px;
    background: #f8f8f8;
}

.user_cont thead td {
    line-height: 44px;
    text-align: center;
}

.user_cont thead td:nth-child(2) {
    text-align: left;
    padding-left: 20px;
}

.user_cont .blue {
    color: blue;
    border-bottom: 1px solid blue;
    cursor: pointer;
}

.user_cont tr {
    border-bottom: 1px solid #eee;
}

.user_cont td {
    text-align: center;
}

.user_cont tbody td:nth-child(2) {
    text-align: left;
    padding-left: 20px;
}

.user_cont tr td:first-child {
    padding-left: 10px;
    position: relative;
}

.user_cont tbody tr {
    height: 80px;
}

.user_cont tr td:last-child {
    text-align: right;
    padding-right: 20px;
}

.user_cont tbody tr td:last-child span {
    color: #448af8;
    line-height: 20px;
    cursor: pointer;
}

.user_cont tr td div {
    height: 90px;
}

.user_cont tr td div div {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    top: 20px;
}

.user_cont tr td div span {
    line-height: 50px;
    margin-left: 10px;
}

.user_cont tr td div div img {
    display: block;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.user_cont tr input[type=checkbox] {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -9px;
    margin-left: -2px;
    opacity: 0;
}

.user_cont tr label {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../image/check.png) no-repeat;
}

.user_cont tr input[type=checkbox]:checked+label {
    background: url(../image/checked.png) no-repeat;
}

.public_footer {
    width: 100%;
    font-size: 14px;
    text-align: right;
    padding: 30px 0;
}

.public_footer ul {
    display: inline-block;
}

.public_footer ul li {
    display: inline-block;
    width: 34px;
    height: 30px;
    border: 1px solid #eee;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
}

.public_footer ul li.active {
    background: #448af8;
    color: #fff;
}

.public_footer div {
    display: inline-block;
    line-height: 30px;
}

.public_footer div span {
    color: #448af8;
}


/* product_management.html 商品管理 */

.pro_mana_cont tr td div div {
    width: 70px;
    height: 50px;
    border-radius: 0;
}


/* 订单管理order_management.html */

.order_tbody tr {
    height: 100px !important;
    /* line-height: 100px !important; */
}

.order_tbody tr td:last-child span {
    display: block;
    line-height: 20px;
    text-align: right;
    margin-right: 0 !important;
}

.user_cont tr td div.input_info_btn {
    display: inline-block;
    position: relative;
    color: rgb(130, 177, 250);
    background-color: rgb(255, 255, 255);
    margin-top: 6px;
    padding: 6px 10px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    border-radius: 4px;
    font-size: 12px;
}

.user_cont tr td div.match_info_btn {
    display: inline-block;
    position: relative;
    color: rgb(130, 177, 250);
    background-color: rgb(255, 255, 255);
    margin-top: 6px;
    padding: 6px 10px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    border-radius: 4px;
    font-size: 12px;
    height: 100%;
}

.input_info_btn input,
.match_info_btn input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: transparent;
    opacity: 0;
    outline: none;
}

.sign_up span {
    color: blue;
    border-bottom: 1px solid blue;
    cursor: pointer;
}


/* 2018.11.03 确认发货弹窗 */

.send_goods_mark {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

.send_goods_mark_cont {
    width: 500px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    -wenkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 30px 30px 0;
}

.send_goods_mark_cont div {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 20px;
}

.send_goods_mark_cont h5 {
    margin-bottom: 20px;
}

.send_goods_mark_cont div span {
    float: left;
    width: 110px;
    text-align: right;
    margin-right: 20px;
}

.send_goods_mark_cont div input {
    float: left;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #ccc;
    width: 300px;
    padding: 0 10px;
    border-radius: 4px;
}

.send_goods_mark_cont div input[type="file"] {
    position: relative;
    opacity: 0;
    z-index: 1;
}

.send_goods_mark_cont div em {
    position: absolute;
    width: 300px;
    left: 160px;
    color: #448af8;
}

.send_goods_btn_box {
    text-align: center;
    padding: 30px 30px 10px;
}

.send_goods_btn_box button {
    width: 120px;
    height: 40px;
    outline: none;
    border-radius: 4px;
    font-size: 14px;
}

.pay_img_box li {
    float: left;
    margin: 10px 14px;
    position: relative;
}

.pay_img_box li div {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-bottom: 0;
}

.pay_img_box li img {
    display: block;
    width: 100%;
}

.pay_img_box li i {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../image/close.png) no-repeat;
    background-size: 100% 100%;
    right: -10px;
    top: -10px;
}

.send_goods_btn_box .cancel_btn {
    border: 1px solid #ccc;
    margin-right: 20px;
    color: #666;
    background: #fff;
}

.send_goods_btn_box .sure_btn {
    border: 1px solid #f40;
    color: #fff;
    background: #f40;
}


/* 弹窗 */

.alert_box {
    padding: 10px 15px;
    color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    font-size: 25px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    z-index: 1000;
}

.user_top_cont .customer_disabled {
    float: right;
}

.customer_disabled button {
    height: 35px;
    color: #e0e0e0;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background: #fff;
    padding: 0 20px;
}

.customer_disabled button.active {
    color: #448af8;
    border: 1px solid #448af8;
}

.order_list_desc {
    display: inline-block;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin-left: 10px;
}

.alert_box {
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* product_management.html */

.product_button {
    float: right!important;
}

.product_button button {
    height: 35px;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    padding: 0 20px;
}

.product_button .active {
    color: #448af8;
    border: 1px solid #448af8;
}

.order_list_pigeon {
    float: left;
    line-height: 20px !important;
    position: relative !important;
    top: 20px !important;
}

.pay_big_img_box {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    z-index: 1
}


/* 放大缩略图 */

.pay_big_img_box div {
    position: absolute;
    width: 30%;
    height: 80%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

.pay_big_img_box img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%)
}